/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.ad-form-title {
  font-size: 20px;
  font-weight: bold;
}

label {
  font-weight: normal;
}

.ad-title {
  font-size: 25px;
  font-weight: bold;
}

.price {
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.bold-it {
  font-weight: bold;
}

.index-ad {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}

.index-condition-button {
  margin-top: 5px;
}

.search-form {
  padding-bottom: 20px;
  padding-left:10px;
  padding-right: 10px;
  background-color: #b3d9ff;
  .col-md-4 {
  padding-top: 10px;
  }
}

.index-search-button {
  padding-top: 35px;
}

.user-pic {
  padding-top: 10px;
}

.user-form {
  padding-bottom: 10px;
}